:root {
    --primary-color: #EEE0CC;
    --secondary-color: #BA6A4C;
    --accent-color: #607456;
    --white-color: #F9F3EC;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--primary-color);
    font-family: monospace;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 4em;
    margin-top: 40px;
}

section {
    margin: 8px 0;
}

.counters-section {
    display: flex;
    border: 4px solid var(--secondary-color);
    background-color: var(--white-color);
    font-weight: 600;
    border-radius: 8px;
}

.label {
    display: flex;
    flex-direction: column;
    padding: 24px 48px;
    text-transform: uppercase;
    font-size: 1rem;
}

.counters-section span {
    font-size: 2rem;
}

textarea {
    background-color: var(--white-color);
    border-radius: 8px;
    padding: 16px;
    font-size: 1rem;
}